.accueilContainer {
    margin-right: 80px;
    margin-left: 80px;

    .bannerContainer {
        margin-bottom: 40px;
    }
    .cardContainer {
        background-color: #F6F6F6;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    .cardsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

