.logement {
    margin-right: 80px;
    margin-left: 80px;

    .slideshow, .logement-info, .collapse {
        flex: 1;
    }

    .logement-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logement-title {
            margin-bottom: 8px;
            font-size: 2.3em;
            font-weight: 450;
        }
    
        .logement-place {
            margin: 0;
            font-size: 1.1em;
            font-weight: 450;
        }
    
        .logement-tag {
            margin-top: 30px;
    
            .tags {
                border-radius: 15px;
                background-color: #FF6060;
                padding: 8px 30px;
                margin-right: 10px;
                font-weight: 450;
            }
        }
    
        .host-info {
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
            .host-name {
                display: flex;
                flex-direction: column;
                text-align: right;
                margin-right: 10px;
                font-size: 1.1em;
            }
    
            .host-portrait {
                border-radius: 100px;
                margin: 10px 10px 30px 0px;        
                width: 80px;                  
                height: 80px;
            }
        }
    
        .host-rating {
            display: flex;
            justify-content: flex-end;
    
            .fa-star {
                font-size: 1.3em;
                padding-right: 15px;
            } 
        }
    }
    
    .fa-star-inactive {
        color: lightgray;
    }

    .collapse {
        display: flex;
        margin: 15px 0;

        .description {
            margin-right: 45px;
        }
    
        .equipement {
            margin-left: 45px;
        }
    
        .collapse-container {
            width: 48%;
            display: flex;
            flex-direction: column;
        }

        p, ul {
            margin: 0;
            padding: 0;
        }
    
        ul {
            list-style-type: none;
        }
    }
}