.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 50px;

    .logo-header {
        width: 80%;
    }
    
    &__nav {
        display: flex;
        gap: 20px;
        font-size: 18px;
    }
    
    &__nav a {
        text-decoration: none;
        color: black;
        margin-right: 20px;
        font-weight: 500;
    }

    &__nav a.active {
        border-bottom: solid 1px black;
    }
}